<form class="form" action="/profile/edit/{{id}}" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>

  <label for="Blog" class="form-item">
    Blog Link:
    <input type="text" name="blog" value="{{breed}}">
  </label>

  <label for="bio" class="form-item">
    Bio:
    <input type="text" name="bio" value="{{owner}}">
  </label>

  <input type="hidden" name="image" value="{{image}}">

  <input type="submit" name="" value="Submit">
</form>