<form class="form" action="/profiles/edit/{{id}}" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>

  <label for="Blog" class="form-item">
    Blog Link:
<<<<<<< HEAD
    <input type="text" name="blog" value="">
=======
    <input type="text" name="blog" value="{{blog}}">
>>>>>>> 34ff2ffcac38b0b617a6c99b8c63c161d94b5629
  </label>

  <label for="bio" class="form-item">
    Bio:
<<<<<<< HEAD
    <input type="text" name="bio" value="">
=======
    <input type="text" name="bio" value="{{bio}}">
>>>>>>> 34ff2ffcac38b0b617a6c99b8c63c161d94b5629
  </label>

  <input type="hidden" name="image" value="{{image}}">

  <input type="submit" name="" value="Submit">
</form>