<div class="container">
  {{#each profiles}}
  <div class="puppy-list">
    <a href="/profiles/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    <a href="/profiles/{{id}}">
      <h4>{{name}}</h4>
    </a>
  </div>
  {{/each}}
</div>