<div class="puppy">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <h4>Biography:</h4>
  <p>{{bio}}</p>
  <div id="bioPar">
    <a href="{{blog}}" class="bioLink" target="_blank">Blog</a>
    <a href="/profiles/edit/{{id}}" class="bioLink">Edit</a>
  </div>

</div>