<div class="puppy">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <h4>Bio:</h4>
  <p>{{bio}}</p>
  <div><a href="{{blog}}" target="_blank">Blog</a></div>
  <a href="/profiles/edit/{{id}}">Edit</a>
</div>