<div class="puppy">
  <div class="oneCflex"><img class="img-circle" src="{{image}}" alt="{{name}}">
    <h2>{{name}}</h2>
    <a href="{{blog}}" class="bioLink" target="_blank">Blog</a>
  </div>
  <div class="wrapCflex">
    <div class="bioText">
      <h4>Biography:</h4>
      <p>{{bio}}</p>
    </div>
    <div id="bioPar">
      <a href="/profiles/edit/{{id}}" class="bioLink">Edit</a>
    </div>
  </div>

</div>